:root {
  --background: rgb(64, 73, 91);
  --hover: rgb(0, 37, 112);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: var(--background) !important;
  color: #ffffff !important;
  width: 100%;
  padding-top: 20px;
}

footer a {
  color: #ffffff !important;
  text-decoration: none;
}

footer a:hover {
  color: var(--hover) !important;
}

footer .bi {
  color: inherit;
}

footer a:hover .bi {
  color: var(--hover-coral) !important;
}

.navbar {
  background-color: var(--background) !important;
}

.navbar-brand {
  color: #ffffff !important;
}

.navbar-link:focus {
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
}

.navbar .container-fluid {
  flex-wrap: wrap;
}

.navbar-collapse {
  width: 100%;
}

.navbar-nav {
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar-nav {
      justify-content: flex-start;
  }
}

.image-section {
  padding: 20px 0;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.subject-selection .card-body {
  position: relative; /* Establishes the containing block for absolute positioning */
  padding-bottom: 60px; /* Ensures there's space for the button */
}

.subject-selection .btn-primary {
  position: absolute;
  bottom: 5px; /* Positions the button 5px up from the bottom */
  left: 50%;  /* Centers the button */
  transform: translateX(-50%); /* Corrects the centering by shifting the button back by half its width */
  width: 90%;  /* Adjust the width if necessary */
}

.btn-primary {
  background-color: var(--background);
  border-color: transparent;
  --bs-btn-hover-bg: var(--hover);
}